
<table border="0">
<tr>
  <td><img src="images/avg_req_hour.png" />
</td>
  <td><img src="images/avg_reqtime_days.png" /></td>
</tr>
<tr>
  <td><img src="images/avg_reqtime_hour.png" />
</td>
  <td><img src="images/reqs_days.png" />
</td>
</tr>
</table>

